<!doctype html>
<html>
    <!-- 网页的标题、图标... -->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/static/layui/css/layui.css">
    <title>角色选择</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.js"></script>
    <script src="/public/static/layui/layui.js"></script>
    <script  type="text/javascript">
        layui.use(['element','layer'], function(){
            var element = layui.element;
            var layer = layui.layer;
            
        });
    </script> 
    <script type="text/javascript">
    login = function (InfoId){
        console.log(InfoId);
        $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{:url('index/Dlwz/reviseinf')}" ,//url
                data: $('#form1').serialize(),
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)?id="+InfoId
                    layer.msg(result["info"]);
                },
                error : function(event, XMLHttpRequest, ajaxOptions, thrownError) {
                    // thrownError 只有当异常发生时才会被传递
                    this; // 监听的 dom 元素
                    console.log(this);
                    layer.msg("异常")
                }
        });
    }
    back = function(){
        window.location.href = "{:url('index/Dlwz/home')}";
    }
    up = function(){
        layer.open({
              type: 2,
              title: false,
              closeBtn: 3,
              area: ['700px', '450px'],
              fixed: false, //不固定
              maxmin: true,
              shadeClose: true,
              shade: false,
              skin: 'layui-layer-molv',
              content: "{:url('index/Dlwz/imgup')}?id={$InfoId}", 
            });
        //window.location.href = "{:url('index/Dlwz/imgup')}?id={$InfoId}" 
    }
    permit = function(){
        layer.open({
              type: 2,
              title: false,
              closeBtn: 2,
              offset: 'auto',
              area: ['700px', '450px'],
              fixed: false, //不固定
              maxmin: true,
              shadeClose: true,
              shade: 0.3,
              skin: 'layui-layer-lan',
              content: "{:url('index/Dlwz/permitAdd')}?id={$InfoId}", 
            });

    }
    </script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
  
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img src="/public/images.jfif" class="layui-nav-img">
              admin
            </a>
            <dl class="layui-nav-child">
              <dd><a href="">基本资料</a></dd>
              <dd><a href="">安全设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="{:url('index/Dlwz/logout')}">注销</a></li>
        </ul>
      </div>
  
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
              {foreach $msg as $key=>$vo}
              {if $vo.parent==0}
              <a class="" href="javascript:;">{$vo.name}</a>
              <ul class="layui-nav-child">
                {foreach $msg as $key=>$val}
                {if $val.parent == $vo.id}
                <li>
                  <a class="" href="javascript:;" >&nbsp;&nbsp;{$val.name}</a>
                  <ul class="layui-nav-child">
                    {foreach $msg as $key=>$inf}
                    {if $inf.parent == $val.id}
                    <li class=""><a calss="infomation"
                        href="/public/index.php/{$inf.url}">&nbsp;&nbsp;&emsp;{$inf.name}</a></li>
                    {/if}
                    {/foreach}
                  </ul>
                </li>
                {/if}
                {/foreach}
              </ul>
              {/if}
              {/foreach}
            </li>
          </ul>
        </div>
      </div>
  
    <!-- 网页的具体内容 -->
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div>
            <div class="layui-body">
                <div class="absoluteCenter" style="padding-top:100px">
                    <form class="layui-form" FORM method="post" id="form1" onsubmit="return false" action="##">
                        <div class="layui-form-item">
                            <label class="layui-form-label">id: {$InfoId}</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="nickname" required  lay-verify="required" value="{$InfoNn}" autocomplete="off" class="layui-input" style="width:200px" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required  lay-verify="required" value="{$InfoUn}" autocomplete="off" class="layui-input" style="width:200px" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码框</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="required" value="{$InfoPw}" autocomplete="off" class="layui-input" style="width:200px">
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$InfoId}" /> 
                        <input type="hidden" name="__token__" value="{$Request.token}" />
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-radius"  style="margin:10px" 
                                onclick='login("{$InfoId}")'>立即提交</button>
                                <button class="layui-btn layui-btn-radius"  style="margin:10px" 
                                onclick='permit("{$InfoId}")'>权限修改</button><br>
                                <button class="layui-btn layui-btn-radius" style="margin:10px"  
                                onclick='up()'>头像上传</button>
                                <button onclick="back()" type="reset" style="margin:10px" class="layui-btn layui-btn-radius">返回</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </div>                      
        </div>
    </div>
    
</div>

</body>
</html>